<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Minh Nguyen <minh.nguyen@smail.inf.h-brs.de> 2017-2019">
    <meta name="license" content="The MIT License (MIT)">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Question Answer</title>
</head>

<script src="ccm.question_answer.js"></script>
<ccm-question_answer key='["ccm.get","resources/configs.js","local"]'></ccm-question_answer>
